@import "../../../sass/essentials";


.section {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  }
  
  .section h1,h2,h3 {
	text-align: center;
	font-size: 6rem;
	font-family: "Cookie";
	padding: 20px;
	margin: 15px;
	z-index: 1;
	opacity: 0.7;
  }
  
  .video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  }
  


.overlay {
	position: relative;
	height: 100vh;
	display: flex;
	text-align: end;
	align-items:center;
	justify-content: center;
	line-height: 0%;
	padding-top: 20rem;


  }

  .overlay h2 {
	font-size: 5vw;
    color: #0062cc;
    font-weight: 700;
    mix-blend-mode: hard-light;
	text-align: center;
	font-family: "Dancing Script", sans-serif;
	span {
		display: block;
		font-size: 3vw;
		font-family: "Lato", sans-serif;
		letter-spacing: 0.2vw;
		text-align: center;
		color: #f0f0f0;
		mix-blend-mode: hard-light;	
	  }
	  a {
		transition: 0.5s;
		justify-content: center;
		text-align: center;
		font-family: "Lato", sans-serif;
		color: rgb(61, 60, 60);
	}

	p {
			font-family: "arial", sans-serif;
			font-size: 1.5vw;
			color: white;

	}
}

.overlay h3 {
    font-size: 2.5em;
    color: #f0f0f0;
    font-weight: 700;
    margin: 0rem 3rem 0;
    mix-blend-mode: hard-light;
    padding: 5px 15px;
	text-align: end;
	font-family: "Lato", sans-serif;
}


video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
  }


.carousel-img-wrap {
  position: relative;
  img {
	width: 100%;
  }
}

.carousal-info {
  position: relative;
  top: -8%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: right;
  text-align: end;
  overflow: hidden;
  //   background: rgb(255, 255, 255);
  //   background: linear-gradient(90deg, white -70%, rgba(0, 212, 255, 0) 80%);
}

.carousal-info-inner {

	p {
		@include mq( $until: medium ) {
			display: none;
			color: white !important;
			justify-content: right;
			text-align: end;	
	}
	}

	h2 {
		@include mq( $until: medium ) {
			font-size: 18px;
			margin-top: 8px;
			margin-bottom: 8px;
			justify-content: right;
			text-align: end;
		}
	}

	a {
		transition: 0.5s;
		justify-content: right;
		text-align: end;
	}
}

.slick-track {
	.slick-slide.slick-active {
		z-index: 2;
	}
}

.color-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100vh;
	opacity: 0.6;
	z-index: 1;
  }
